body {
    background-color: #FFF;
    margin: 0 auto;

}

.image-header {
    height: 3rem;
    width: 5rem;
    background-position: center;
    margin: 1.5rem 0 0 1.5rem;
}


.header-content {
    background-color: #418ABE;
    height: 99px;
    width: 100%;
    position: relative;
    display: flex;
}

nav,
#menu-checkbox {
    display: none;
    position: absolute;
    top: 2em;
    right: 2em;
}

#menu-checkbox:checked~nav {
    display: block;

}

nav {
    background-color: black;
}


.button {
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    display: block;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.search-field {
    border-radius: 25px;
    width: 40%;
    height: 40%;
    border: 3px solid black;

}

#text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    text-align: end;
    padding-right: 2rem;
}

.container {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: start;
    padding-bottom: 13px;
}

.text-main {
    font-family: 'Work Sans', sans-serif;
    margin-left: 20px;
    font-size: 13px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

.left-content {
    width: calc(100% / 3);
    flex: 1;
    display: flex;
}

.right-content {
    width: calc(100% / 3);
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}


.main-image {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 5rem 0 5rem 0;
}

.rating {
    display: flex;
    align-items: center;
}

.price-tag {
    border-bottom: 1px solid black;
    margin: 0.5rem 0 1rem 0;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    margin: 3rem 0 0.5rem 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.box {
    width: 50%;
    display: flex;
}

.boxes {
    border: 1px solid black;
    padding: 15px;
    margin: 1px;

}

.container {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: start;
    padding-bottom: 13px;
}

.drop-down {
    position: absolute;
    left: 0;
    display: none;
    padding: 0;
    margin: 30px 0 0 10px;
    list-style: none;
    border: 1px solid gray;
    z-index: 1;
    background-color: #418ABE;
    border: none;
}
  
.dropdown-button {
    background-color: white;
    border: 1px solid gray;
    color: black;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.finish-button {
    text-decoration: none;
    color: #FFF;
    width: 61%;
    height: 50px;
    margin: 3rem 0 1rem 0;
    background-color: #418ABE;
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    border: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.more-products {
    border-top: 1px solid black;
}

h3 {
    margin-left: 45px;
    font-size: 30px;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin: 3rem 0 3rem 0;
}

.cloth {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 5);
    min-width: 150px;
}

.cloth img{
    width:  80%;
    min-width: 150px;
    margin: 1px;
    border-bottom: 1px solid black;
}

.text-cloth {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-align: start;
}


.vurderinger {
    border-top: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.first-comment {
    margin-left: 45px;
}

.second-comment {
    margin-left: 45px;
}


footer {
    background-color: #f2f2f2;
    border-top: 1px solid black;
}

.footer-main {
    display: flex;
}

.image-footer {
    width: 100px;
    margin: 50px 0 0 20px;
}

.bottom-text {
    margin: 30px 0 0 20px;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;

}

.bottoms-text {
    margin: 45px 0 0 20px;
}

.icons {
    text-align: end;
    padding: 0 1rem 1rem 0;
    font-size: 1rem;
    display: flex;
    justify-content: end;
}

.hamburger-icon {
    font-size: 2rem;
    align-self: center;

}



@media (min-width: 756px) {
    nav {
        display: block;
        background-color: transparent;
    }

    .hamburger-icon {
        display: none;
    }

    .button {
        display: inline-block;
    }


}

@media (max-width:500px) {
    h1 {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    .rating {
        font-size: 0.7rem;
    }

    .price-tag {
        font-size: 0.7rem;
    }

    .boxes {
        width: 20%;
    }
}

@media (max-width:400px) {
    .bottoms-text {
        font-size: 10px;
        margin: 45px 0 0 20px;
    }
}